body {
  font-family: roboto;
  text-align: justify;
}

.socials-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 0;

  }
  
  .socials-icon {
    font-size: 20px;
    color: white;
  }

  .img-fluid {
    width: auto;
  }

p {
  padding:none;
  margin: 0px 0px !important;
}

  .carousel-item img {
    height: 700px;
    object-fit: cover;
  }

  .container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px; /* Add a maximum width */
  margin: 0 auto; /* Center the container */
}

.tuga {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-top: 20px;
}

footer {
  padding-bottom: 10px;
}